@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --primary-color: #f58634;
  --secundary-color: #f7af7b;
}

body {
  color: var(--foreground-rgb);
  background: var(--secundary-color);
}
